h1 {
    color: #ff0000;
    font-size: xx-large;
    margin-bottom: 50px;
}
h1 + p {
    color: #a42423;
    font-size: 1.5em;
    margin-bottom: 50px;
}
p + p {
    color: #00008f;
    font-size: 1.5em;
}
#main {
    background-color: #faebd6;
    width: 950px;
    height: 380px;
    
}